<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Origem</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="../../assets/img/idea.png" class="title">
            </ion-col>
            <ion-col>
                <p class="title2">Olorum é o criador de todas as coisas do mundo.Oxalá criou os homens com a ajuda de Nanã</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="title2">Divindades e homens habitavam no mesmo lugar. Olorum quis separá-los, a Terra ficou sendo de Aiê e o mundo sobrenatural de Orum onde viviam os orixás.</p>
                <p></p>
                <p></p>
            </ion-col>
            <ion-col>
                <img src="../../assets/img/world.png" class="title">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <img src="../../assets/img/love.png" class="title">
            </ion-col>
            <ion-col>
                <p class="title2">Os deuses procuraram Olorum pois queriam continuar a viver com os humanos. E Olorum concordou.</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="title2">As riquezas do universo foram dividas entre as divindades africanas, Olorum chamou todos para uma reunião e distribuiu as riquezas para cada um dos deuses africanos.</p>
            </ion-col>
            <ion-col>
                <img src="../../assets/img/treasure.png" class="title">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>