<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>História</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/oxala.jpg">
            <ion-card-title class="title">Oxalá</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            O criador da humanidade segundo as origens africanas, conhecido como grande orixá. É também chamado de Obatalá, que representa a pureza, e rei de pano branco.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/ogum.jpg">
            <ion-card-title class="title">Ogum</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            É o deus da metalúrgica, ele recebeu do pai Olodumare a responsabilidade de cuidar do ferro e de todas as coisas originadas do ferro. Ele é o deus da guerra, geralmente representado por uma espada na mão.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/olorum.jpg">
            <ion-card-title class="title">Olorum</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            deus supremo, o dono do céu, ele criou todos os deuses ou orixás e dividiu o universo sobrenatural e o mundo dos homens.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/iemanja.jpg">
            <ion-card-title class="title">Iemanjá</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Conhecida como rainha do mar e mãe protetora dos pescadores, a tradução do seu nome é nagô mãe dos peixes. De início Iemanjá era apenas afluente do rio, na Nigéria. Com o tempo ela passou a se tornar orixá do rio e cultuada pelos iorubás.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/xango.jpg">
            <ion-card-title class="title">Xangô</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Foi uma pessoa real, ele foi o quarto rei do império Oió, na África Ocidental. Após sua morte ele tornou-se uma divindade, tornando-se o deus do Trovão. Ele tinha poder sobre as chuvas e era conhecido como orixá da justiça.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/nana.jpg">
            <ion-card-title class="title">Nanã</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Ela ajudou já criação da terra e dos humanos, conhecida também por Nanã Burucu. Deusa do fundo dos lagos, considerada como mãe da águas doces, foi responsável por criá-las.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/oxum.jpg">
            <ion-card-title class="title">Oxum</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Conhecida como a deusa do amor e da beleza e uma das esposas de Xangô. Ela é também a orixá dos rios e fontes e das águas doces.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/iansa.jpg">
            <ion-card-title class="title">Iansã</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Conhecida também como Oiá, orixá dos raios, ventos e tempestades. Ela também transporta os mortos até o mundo sobrenatural Orum. Até por isso ela é a orixá da cerimônia fúnebre onde fazem oferendas a quem morreu.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/olocum.png">
            <ion-card-title class="title">Olocum</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            A verdadeira divindade dos mares e oceanos, no Brasil sua fila Iemanjá que está nesse posto de deusa do mar.
        </ion-card-content>
    </ion-card>
</ion-content>