<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Outros deuses</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/aganju.jpg">
            <ion-card-title class="title">Aganju</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá dos vulcões e do fogo
        </ion-card-content>
    </ion-card>
    <!--<ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Ajalá</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Orixá da criação, que cria a individualidade de cada ser humano
        </ion-card-content>
    </ion-card>-->
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/enrile.jpg">
            <ion-card-title class="title">Erinlé</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Faz parte do grupo dos orixás caçadores
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/iewa.jfif">
            <ion-card-title class="title">Iewá</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá da beleza
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/ibejis.jpg">
            <ion-card-title class="title">Ibejis</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            São dois orixás gêmeos, responsáveis por proteger as crianças.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/logunEde.jpg">
            <ion-card-title class="title">Logun Ede</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá da pesca e da caça
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/oba.jpg">
            <ion-card-title class="title">Obá</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Representa a fidelidade conjugal e o amor.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/obaluae.jpg">
            <ion-card-title class="title">Obaluaê</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá das pestes e das doenças contagiosas
        </ion-card-content>
    </ion-card>
    <!--<ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Ocô</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Orixá da agricultura
        </ion-card-content>
    </ion-card>-->
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/odudua.jpg">
            <ion-card-title class="title">Odudua</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá responsável pela criação da Terra
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/onile.jpeg">
            <ion-card-title class="title">Onilé</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá que governa a Terra
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/oke.jpg">
            <ion-card-title class="title">Okê</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá da montanha
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/Orunmila.jpg">
            <ion-card-title class="title">Orunmilá</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá da adivinhação e do oráculo
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/orania.jpg">
            <ion-card-title class="title">Oraniã</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá das profundezas da Terra
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/Ossaim.jpg">
            <ion-card-title class="title">Ossaim</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá das folhas
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/Otim.jpg">
            <ion-card-title class="title">Otim</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá do rio Otin
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/Oxanguia.jpg">
            <ion-card-title class="title">Oxanguiã</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá da criação, o criador da cultura material
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/Oxóssi.jpg">
            <ion-card-title class="title">Oxóssi</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá da caça
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="../../assets/img/Oxumare.jpg">
            <ion-card-title class="title">Oxumarê</ion-card-title>
        </ion-card-header>

        <ion-card-content class="title">
            Orixá do arco-íris
        </ion-card-content>
    </ion-card>


</ion-content>