<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Deuses principais</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/oxala.jpg">
                    <ion-card-title>Oxalá</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img src="../../assets/img/ogum.jpg">
                    <ion-card-title>Ogum</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/olorum.jpg">
                    <ion-card-title>Olorum</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/iemanja.jpg">
                    <ion-card-title>Iemanjá</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/xango.jpg">
                    <ion-card-title>Xangô</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/nana.jpg">
                    <ion-card-title>Nanã</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/oxum.jpg">
                    <ion-card-title>Oxum</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/iansa.jpg">
                    <ion-card-title>Iansã</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <img class="imagem" src="../../assets/img/olocum.png">
                    <ion-card-title>Olocum</ion-card-title>
                </ion-card-header>
            </ion-card>

        </ion-slide>
    </ion-slides>
</ion-content>